{% load static %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Secure Searching</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'content' %}">Content</a>
        </li> {% endcomment %}
        <li class="nav-item">
          <form action="{% url 'search-view' %}" class="d-flex" role="search" method="GET">
            {% comment %} <form action="{% url 'search' %}" class="d-flex" role="search" method="GET"> {% endcomment %}
              {% comment %} {% csrf_token %} {% endcomment %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q" id="query">
              {% comment %} <input type="text"
              class="form-control"
              style="width: 60%"
              placeholder="Search"
              name="keyword"> {% endcomment %}
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </li>
      </ul>
      <li class="navbar-nav">
        {% comment %} {% if user.id is None %} {% endcomment %}
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        {% comment %} {% else %} {% endcomment %}
        {% comment %} <small class="title text-muted"
                >Welcome {{user.first_name}}!</small> {% endcomment %}
        <a class="nav-link" href="{% url 'dashboard' %}">Deshboard</a>
        <a class="nav-link" href="{% url 'login' %}">Logout</a>
        {% comment %} {% endif %} {% endcomment %} 
      </li>
    </div>
  </div>
</nav>

